<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>ioterm: Monitoramento de temperatura e umidade</title>
  <meta name="description" content="ioterm - monitoramento de temperatura e umidade">
  <meta name="author" content="frcleiton 2017">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon ––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">ioterm.com.br monitoramento de temperatura e umidade com Raspberry Pi.</h4>
          <a class="button button-primary" href="/dashboard">clique aqui para visualizar o dashboard</a>
        </div>
        <div class="one-half column phones">
          <img class="phone" src="/static/images/Raspberry-Pi-3-Flat-Top.png">
        </div>
      </div>
	  <div class="row">
	    <div class="one-half column" style="margin-top: 10%">
		  <img class="u-max-full-width" src="/static/svg/thermometer.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/air-conditioner.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/apple-watch.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/car.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/domotics.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/fridge.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/heart-rate.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/home-control.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/internet.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/ipad.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/iphone.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/irrigation.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/light-control.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/modem.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/speaker.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/usb-cable.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/water-control.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/webcam.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/wifi.svg" style="margin-right: 5%;max-width: 10%">
		  <img class="u-max-full-width" src="/static/svg/xbox.svg" style="margin-right: 5%;max-width: 10%">
        </div>
	  </div>
	</div>
  </div>
  <div class="section categories">
    <div class="container">
      <h3 class="section-heading">Alertas e historico</h3>
      <p class="section-description">Receba alertas por e-mail/sms e consulte o historico de temperaturas.</p>
      <div class="row">
        <div class="one-half column category">
          <img class="u-max-full-width" src="/static/images/alarmes.png">
        </div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="/static/images/consultahistorico.png">
        </div>
      </div>
    </div>
  </div>




<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>