<html lang="pt-br">
  <meta charset="utf-8">
  <title>Termohigrometro</title>
  <meta http-equiv="refresh" content="120">
  <meta name="description" content="Termohigrometro - RPi">
  <meta name="author" content="Cleiton Ferreira">
  <!-- Mobile Specific Metas ––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT ––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS –––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <!-- Favicon ––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  <!--charts ------>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart','bar']});
      google.charts.setOnLoadCallback(drawBasic);

      function drawBasic() {
            	  
      var data = google.visualization.arrayToDataTable([
        ['Temp', 'Temp'],
        ['RP01', {{'%0.2f'|format(temp[0])}} ],
      ]);

      var options = {
        
        chartArea: {width: '60%', height: '30%'},
        hAxis: {
          title: 'Temperature C°',
          minValue: 0
        },
        legend:{position:'none'}
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_temps'));

      chart.draw(data, options);
      }
  </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart','bar']});
      google.charts.setOnLoadCallback(drawBasic);

      function drawBasic() {
            	  
      var data = google.visualization.arrayToDataTable([
        ['Umid', 'Umid'],
        ['RP01', {{'%0.2f'|format(hum[0])}} ],
      ]);

      var options = {
        
        chartArea: {width: '60%', height: '30%'},
        hAxis: {
          title: 'Humidity %',
          minValue: 0,
        },
        legend:{position:'none'}
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_humids'));

      chart.draw(data, options);
      }
  </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="one-half column" style="margin-top: 5%">
		<h3>Sensores</h3>
			<table class="u-full-width">
			  <thead>
				<tr>
				  <th>Sensor</th>
				  <th>Temperatura</th>
				  <th>Umidade</th>
				  <th>Data/Hora</th>
				</tr>
			  </thead>
			  <tbody>
				<tr id='RP01'>
				  <td>RP01</td>
				  <td>{{"{0:0.1f}".format(temp[0])}}</td>
				  <td>{{"{0:0.1f}".format(hum[0])}}</td>
				  <td>{{str_time}}</td>
				</tr>
			  </tbody>
			</table>	
			
			<p>Refresh a cada 1 minuto</p>
		</div>
		<div class="one-half column" style="margin-top: 10%">
            <div id="chart_temps"></div>			
		    <div id="chart_humids"></div>			
		</div> 		
      </div>
    </div>
  <input type="hidden" id="par_temp_min" name="par_temp_min"  value={{tmin}}/>
  <input type="hidden" id="par_temp_max" name="par_temp_max"  value={{tmax}}/>
</body> 
	<!-- Alerta de sensor fora dos parametros -->
	<script type="text/javascript" src="static/javascript/alerta_sensor.js"></script>
</html>
