<html lang="pt-br">
  <meta charset="utf-8">
  <title>IoTerm</title>
  <meta http-equiv="refresh" content="120">
  <meta name="description" content="Termohigrometro - IoT">
  <meta name="author" content="Cleiton Ferreira">
  <!-- Mobile Specific Metas ––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT ––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS –––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <!-- Favicon ––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  <!--charts ------>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Sensores', 'Temperatura', 'Umidade'],
          ['RP01', {{temp[0]}}, {{hum[0]}}],
          ['RP02', {{temp[1]}}, {{hum[1]}}],
         ]);

        var options = {
          width: 800,
          bars: 'horizontal', // Required for Material Bar Charts.
          series: {
            0: { axis: 'temperatura' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'umidade' } // Bind series 1 to an axis named 'brightness'.
          },
          axes: {
            x: {
              umidade: {label: '%ur'}, // Bottom x-axis.
              temperatura: {side: 'top', label: '°C'} // Top x-axis.
            }
          }
        };

      var chart = new google.charts.Bar(document.getElementById('chart_temps'));
      chart.draw(data, options);
      }
  </script>
  </head>
  <body>
    <div class="container">
		<div class="row">
			<div class="one-half column" style="margin-top: 20px; text-align: left">
				{% if current_user.is_authenticated %}
					Ola, {{current_user.id}} - <a href="/logout">Logout</a>
				{% else %}
				<img src="/static/images/login.png" Style="height: 30px; width: 30px; margin-right: 3px" alt="Login"><a href="/login">Login</a>
				{% endif %}
			</div>
			<div class="one-half column" style="margin-top: 10px; text-align: right">
				<img src="/static/images/home-512.gif" Style="height: 30px; width: 30px" alt="Home"><a href="/home">Home</a>
				{% if nalert %}
					<img src="/static/images/icon-push-notifications.png" Style="height: 30px; width: 30px" alt="Alertas Ativos"><a href="/alarmes">Alarme({{nalert}})</a>
				{% endif %}
			</div>
		</div>
		<div class="row" style="margin-top: 5%">
			<div id="chart_temps" style="width: 100%; height: 50%;"></div>
		</div>
	    <div class="row" style="margin-top: 5%">
        	<table class="u-full-width">
			  <thead>
				<tr>
				  <th>Sensor</th>
				  <th>Temperatura</th>
				  <th>Umidade</th>
				  <th>Data/Hora</th>
				  <th><span>Settings</span></th>
				</tr>
			  </thead>
			  <tbody>
				<tr id='RP01'>
				  <td><a href="/hist/rp01">RP01</a></td>
				  <td>{{"{0:0.1f}".format(temp[0])}}</td>
				  <td>{{"{0:0.1f}".format(hum[0])}}</td>
				  <td>{{str_time[0]}}</td>
 				  <td><a href="/roconf/rp01"><img src=static/images/settings.png width="20px" height="20px"></a></td>
				</tr>
				<tr id='RP02'>
				  <td><a href="/hist/rp02">RP02</a></td>
				  <td>{{"{0:0.1f}".format(temp[1])}}</td>
				  <td>{{"{0:0.1f}".format(hum[1])}}</td>
				  <td>{{str_time[1]}}</td>
				  <td><a href="/roconf/rp02"><img src=static/images/settings.png width="20px" height="20px"></a></td>
				</tr>
			  </tbody>
			</table>	
			<p>Refresh a cada 1 minuto</p>  
      </div>
    </div>
</body> 
</html>
